/**
 * Utility classes
 */

.a11y {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: absolute;
  background: #000;
  color: #fff;
}
